<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Perfil usuário</title>

  <style>
    body{
      font-family: sans-serif;
      text-align: center;
      margin-top: 50px;
    }
    .msg{
      border: 1px solid #ddd;
      padding: 20px;
      display: inline-block;
      border-radius: 8px;
    }
  </style>
</head>
<body>
  <h1>Dados Usuário</h1>
  <p th:text="${login}">Texto padrão caso não carregue mensagem</p>
  <p th:text="${senha}"></p>
  <p class="msg">Telefone : <strong th:text="${telefone }"></strong></p>
</body>
</html>